<h1 mat-dialog-title class="text-center">Coffee Details</h1>

<div mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem"><strong>Blend_name: </strong> {{data.blend_name}}
    </mat-list-item>
    <mat-list-item role="listitem"><strong>Id: </strong> {{data.id}}</mat-list-item>
    <mat-list-item role="listitem"><strong>Intensifier: </strong> {{data.intensifier}}
    </mat-list-item>
    <mat-list-item role="listitem"><strong>Notes: </strong>{{data.notes}}</mat-list-item>
    <mat-list-item role="listitem"><strong>Origin: </strong> {{data.origin}}
    </mat-list-item>
    <mat-list-item role="listitem"><strong>Variety: </strong> {{data.variety}}
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
