<h1 mat-dialog-title class="text-center">Coffee Details</h1>

<div mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem"><span class="x-center"><strong>Blend_name: </strong> {{data.blend_name}}</span>
    </mat-list-item>
    <mat-list-item role="listitem"><span class="x-center"><strong>Id: </strong> {{data.id}}</span></mat-list-item>
    <mat-list-item role="listitem"><span class="x-center"><strong>Intensifier: </strong> {{data.intensifier}}</span>
    </mat-list-item>
    <mat-list-item role="listitem"><span class="x-center"><strong>Notes: </strong>{{data.notes}}</span></mat-list-item>
    <mat-list-item role="listitem"><span class="x-center"><strong>Origin: </strong> {{data.origin}}</span>
    </mat-list-item>
    <mat-list-item role="listitem"><span class="x-center"><strong>Variety: </strong> {{data.variety}}</span>
    </mat-list-item>
  </mat-list>
</div>
