@import "../../../scss/functions";
@import "../../../scss/variables";

.single-menu {
  background-color: #fff;
  box-shadow: 0 toRem(10) toRem(30) 0 $primary-shadow;
  border-radius: toRem(10);
  padding: toRem(20) toRem(30);
  margin-bottom: toRem(30);
  transition: transform 0.15s; /* Animation */
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
  svg {
    margin-bottom: toRem(10);
    fill: $primary-color;
    float: right;
  }

  .origin {
    color: $primary-color;
    font-size: toRem(18);
    font-weight: 600;
  }
}
