.footer {
  width: 100%;
  text-align: center;
}

.menu-area {
  background: url(../assets/menu-bg.jpg) center;
  background-size: cover;
  padding: 120px 0;

  h4 {
    color: #222222;
    font-weight: 600;
  }

  h1 {
    padding: 0 0 70px 0;
  }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
