@import "../scss/functions";
@import "../scss/variables";

.footer {
  width: 100%;
  text-align: center;
}

.menu-area {
  background: url(../assets/menu-bg.jpg) center;
  background-size: cover;
  padding: toRem(120) 0;

  h4 {
    color: #222222;
    font-weight: 600;
  }

  h1 {
    padding: 0 0 toRem(70) 0;
    color: $primary-color;
    font-weight: bold;
  }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
